<%- include('partial/header.html', { body_class:"simple"}); %>

<div id="queue-page">
    <span id="queue-page-logo"></span>
    <h1>Marcel of Theseus</h1>
    <span class="icon"></span>
    There are too many peers (20) connected to this robot
    right now, please wait. This page will reload automatically.<br>

    <span id="num-waiting"><b>21</b> others are ahead of you in the queue...</span>

    <span class="explanation">
        It is not possible to cache a live ROS machine, too many connected peers
        reduce performance.
    </span>
</div>

<%- include('partial/footer.html'); %>