<%- include('partial/header.html', { extraLinks: [ '<a href="#" id="helpLink">?</a>' ] }); %>

<h1 id="robot_name">Waiting for Connection...</h1>
<div id="robot_info">Contacting <%= id_robot %>...</div>
<br>
<div id="robot_stats" style="display:none">
    <h3 id="topics_heading"></h3>
    <select id="msg_type_filter">
        <option value="">-- All message types --</option>
    </select>
</div>
<div id="topic_list" style="display:none"></div>
<div id="monitors" style="display:none"></div>

<div id="gamepad">
    <div id="gamepad_status" title="Gamepad Settings"></div>
    <div id="gamepad_settings">
        <input type="checkbox" id="gamepad_enabled" checked="checked"/> <label for="gamepad_enabled">Transmitting</label>
        <div id="gamepad_debug"></div>
    </div>
</div>

<script type="text/javascript">

    $(document ).ready(function() {

        let msg_types_src = '/static/msg_types.json'
        fetch(msg_types_src)
            .then((response) => response.json())
            .then((json) => {
                supported_msg_types=json;
                console.log('Fetched '+json.length+' msg types from '+msg_types_src)

                let hash = window.location.hash;
                if (hash.length) {
                    hash = hash.substr(1);
                    let hashArr = hash.split(';');
                    for (let i = 0; i < hashArr.length; i++) {
                        let topic = hashArr[i].trim();
                        if (!topic)
                            continue;
                        console.info('Opening panel for ', topic);
                        TogglePanel(topic, true)
                    }
                }


                window.gamepadWriter = new GamepadWriter(pc, '/joy', '<%= id_robot %>', socket, supported_msg_types);

                //proceed when we have msg types ready
                socket.connect();
            });

        pc.addTransceiver('video', {direction: 'recvonly'});

        // pc.addTransceiver('audio', {direction: 'recvonly'});
        // data_receiver = pc.createDataChannel('test')
        // data_receiver.addEventListener("open", (evt) => {
        //     console.log('data_receiver.open', evt)
        // });
        // data_receiver.addEventListener("error", (evt) => {
        //     console.log('data_receiver.error', evt)
        // });
        // data_receiver.addEventListener("message", (evt) => {
        //     console.log('data_receiver.MSG:', evt)
        // });
        //ordered=true, protocol='test.protocol/lala.hm'

        // connect audio / video
        pc.addEventListener('track', (evt) => {
            // if (evt.track.kind == 'video') {
            //     document.getElementById('video').srcObject = evt.streams[0];
            // } else {
            //     document.getElementById('audio').srcObject = evt.streams[0];
            // }
            console.log('New track added!', evt);
        });

        //let receiveChannel =
        pc.createDataChannel('_ignore_'); //wouldn't otherwise open chanels

        // connect data
        pc.addEventListener('datachannel', (evt) => {

            let receiveChannel = evt.channel;
            receiveChannel.addEventListener("open", (open_evt) => {
                console.log('receiveChannel.open', open_evt)
            });
            receiveChannel.addEventListener("error", (err_evt) => {
                console.log('receiveChannel.error', err_evt)
            });
            receiveChannel.addEventListener("bufferedamountlow", (event) => {
                console.log('receiveChannel.bufferedamountlow', event)
            });

            receiveChannel.addEventListener("close", (close_evt) => { console.log('receiveChannel.close', close_evt) });
            receiveChannel.addEventListener("message", (msg_evt) => {
                console.log(receiveChannel.label, msg_evt.data)
            });

            console.log('New data channel added!', receiveChannel);



            // if (evt.track.kind == 'video') {
            //     document.getElementById('video').srcObject = evt.streams[0];
            // } else {
            //     document.getElementById('audio').srcObject = evt.streams[0];
            // }

        });

        pc.addEventListener('negotiationneeded', (evt) => {
            console.log('negotiationneeded!', evt);
        });


        pc.addEventListener("connectionstatechange", (evt) => {
            console.log('connectionstatechange: ',  evt.currentTarget.connectionState);
            SetWebRTCSatusLabel()

            if (evt.currentTarget.connectionState == 'connected') {
                if (!pc_connected) {
                    pc_connected = true;
                    window.gamepadWriter.InitProducer()
                    let panelTopics = Object.keys(panels);
                    for (let i = 0; i < panelTopics.length; i++) {
                        let topic = panelTopics[i];
                        if (!topic_dcs[topic]) {
                            ToggleReadTopicSubscription('<%= id_robot %>', topic, true);
                        }
                    }
                }
            } else if (pc_connected) {
                pc_connected = false;
                window.gamepadWriter.ClearProducer();
            }
        });



        $('#msg_type_filter').change(()=>{
        let filter = $('#msg_type_filter').val();
        //console.log('msg_type_filter='+filter);

        let num_visible = 0;
        $('#topic_list DIV.topic').each(function() {
            console.log();
            if (filter == '' || $(this).data('msg_types').indexOf(filter) != -1) {
                $(this).css('display', 'block');
                num_visible++;
            }
            else {
                $(this).css('display', 'none');
            }
        });

        if (!num_visible)
            $('#topic_list_waiting').css('display', 'block').html('Waiting...');
        else
            $('#topic_list_waiting').css('display', 'none').empty();
        });

        // $('#topic_list INPUT:checkbox').change(()=>{
        //     let filter = $(this).val();
        //     //console.log('msg_type_filter='+filter);
        // })





        // client-side
        socket.on("connect", () => {
            console.log('SIO connected w id'+socket.id); // x8WIv7-mJelg7on_ALbx
            SetSocketIOSatusLabel();
            socket.emit('robot', { id: '<%= id_robot %>' },
                ProcessRobotData
            );
        });

        socket.on('robot', ProcessRobotData);

        socket.on('topics', (topics_data) => {
            $('#topic_list').empty();

            $('#robot_stats').css('display', 'block');
            $('#topic_list').css('display', 'block');
            $('#monitors').css('display', 'block');

            let msg_type_filter_val = $('#msg_type_filter').val();
            $("#msg_type_filter option[value!='']").each(function() {
                $(this).remove();
            });

            console.log('Topics:', topics_data);

            let msg_type_filters = [];
            let old_topics = topics;
            topics = {};

            let i = 0;
            Object.keys(topics_data).forEach((id_robot) => {

                if (!topics_data[id_robot])
                    return;

                //sort by topic
                topics_data[id_robot].sort((a, b) => {
                    if (a.topic < b.topic) {
                        return -1;
                    }
                    if (a.topic > b.topic) {
                        return 1;
                    }
                    // a must be equal to b
                    return 0;
                });

                $('#topics_heading').html(topics_data[id_robot].length+' topics');

                topics_data[id_robot].forEach((topic)=>{

                    topics[topic.topic] = {
                        msg_types: topic.msgTypes
                    }

                    $('#topic_list').append('<div class="topic" data-topic="'+topic.topic+'" data-msg_types="'+topic.msgTypes.join(',')+'">'
                        + '<input type="checkbox" id="cb_topic_'+i+'"'
                        //+ (!topic.robotTubscribed?' disabled':'')
                        + (panels[topic.topic] ? ' checked': '' )
                        + '/> '
                        + '<span '
                        + 'class="topic" '
                        + 'title="'+topic.msgTypes.join('; ')+'"'
                        + '>'
                        + '<label for="cb_topic_'+i+'" class="prevent-select">'+topic.topic+'</label>'
                        + '</span>'
                        + '</div>'
                    );

                    topic.msgTypes.forEach((msgType)=>{
                        if (msg_type_filters.indexOf(msgType) == -1)
                            msg_type_filters.push(msgType);
                    });

                    let subscribe = $('#cb_topic_'+i).is(':checked');

                    if (panels[topic.topic] && !panels[topic.topic].initialized) {
                        panels[topic.topic].Init(topic.msgTypes);
                        subscribe = true;
                    }

                    //if (!old_topics[topic.topic]) {

                    if (subscribe) {
                        //console.warn('New topic: '+topic.topic+'; subscribe='+subscribe);
                        ToggleReadTopicSubscription('<%= id_robot %>', topic.topic, true);
                    } else {
                        //console.info('New topic: '+topic.topic+'; subscribe='+subscribe);
                    }

                    //TogglePanel(topic.topic, true);
                    //}




                    i++;
                });
            });

            $('#topic_list').append('<div id="topic_list_waiting" style="display:none"></div>');

            if (msg_type_filter_val && msg_type_filters.indexOf(msg_type_filter_val) == -1) {
                msg_type_filters.push(msg_type_filter_val);
            }
            msg_type_filters.sort();
            msg_type_filters.forEach((msgType)=>{
                $("#msg_type_filter").append('<option value="'+msgType+'">'+msgType+'</option>');
            });
            $('#msg_type_filter').val(msg_type_filter_val).change();
            //console.log('topics reloaded, msg_type_filter_val='+msg_type_filter_val)

            $('#topic_list INPUT:checkbox').change(function(event) {
                let topic = $(this).parent('DIV.topic').data('topic');
                let state = this.checked;
                TogglePanel(topic, state);
                ToggleReadTopicSubscription('<%= id_robot %>', topic, state);
            });



        });

        // socket.on('offer', (offer_data) => {
        //     console.log('Got webrtc offer:', offer_data)
        //     let id_robot = Object.keys(offer_data)[0];
        //     OnWebRTCOffer(id_robot, offer_data[id_robot]);
        // });

        socket.on("disconnect", () => {
            console.log('SIO disconnected'); // undefined
            SetSocketIOSatusLabel();
        });


    });



</script>

<%- include('partial/footer.html'); %>