<%- include('partial/header.html', { extraLinks: [ '<a href="#" id="helpLink">?</a>' ] }); %>

<h1 id="robot_name">Waiting for Connection...</h1>
<div id="robot_info">Contacting <%= id_robot %>...</div>
<br>
<div id="robot_stats">
    <h3 id="topics_heading"></h3>
    <select id="msg_type_filter">
        <option value="">-- All message types --</option>
    </select>
</div>
<div id="topic_list"></div>
<div id="monitors"></div>

<script type="text/javascript">

    $(document ).ready(function() {

        HelloWorld('wut wut');

        $('#msg_type_filter').change(()=>{
            let filter = $('#msg_type_filter').val();
            //console.log('msg_type_filter='+filter);

            $('#topic_list DIV.topic').each(function() {
                console.log();
                if (filter == '' || $(this).data('msg_types').indexOf(filter) != -1)
                    $(this).css('display', 'block');
                else
                    $(this).css('display', 'none');
            })

        })

        const socket = io("https://localhost:1337", {
            path:'/app/socket.io/',
            auth: {
                id_app: 'xxasdasd',
                key: 'xyyx'
            }
        });

        function SetWebRTCSatusLabel() {
            return $('#webrtc_status').html('<span class="offline">Offline</span>');
        }

        function ProcessRobotData(robot_data) {
            if (robot_data['err']) {
                $('#robot_info').html('Error connecting to robot...');
                return;
            }

            console.log('SIO got robot data', robot_data);
            if (robot_data['name'])
                $('#robot_name').html(robot_data['name']);

            $('#robot_info').html(robot_data['id_robot']
                                    + ' @ '
                                    + (robot_data['ip'] ? '<span class="online">'+robot_data['ip']+'</span>':'<span class="offline">Offline</span>')+' '
                                    + 'WebRTC: <span id="webrtc_status"></span>'
                                    );
            SetWebRTCSatusLabel();
        }

        // client-side
        socket.on("connect", () => {
            console.log('SIO connected w id'+socket.id); // x8WIv7-mJelg7on_ALbx

            socket.emit('robot', { id: '<%= id_robot %>' }, ProcessRobotData);
            socket.on('robot', ProcessRobotData);

            socket.on('topics', (topics_data) => {
                $('#topic_list').empty();

                $("#msg_type_filter option[value!='']").each(function() {
                    $(this).remove();
                });

                console.log(topics_data);

                let msg_type_filters = [];

                Object.keys(topics_data).forEach((id_robot) => {

                    if (!topics_data[id_robot])
                        return;

                    $('#topics_heading').html(topics_data[id_robot].length+' topics');

                    topics_data[id_robot].forEach((topic)=>{

                        $('#topic_list').append('<div class="topic" data-msg_types="'+topic.msgTypes.join(',')+'">'
                            + '<input type="checkbox"/> '
                            + '<a href="#" '
                            + 'class="topic '+(topic.subscribed?'subscribed':'nonsubscribed')+'" '
                            + 'title="'+topic.msgTypes.join('; ')+'"'
                            + '>'
                            + '<label>'+topic.topic+'</label>'
                            + '</a></div>'
                        );

                        topic.msgTypes.forEach((msgType)=>{
                            if (msg_type_filters.indexOf(msgType) == -1)
                                msg_type_filters.push(msgType);
                        });

                    });
                });

                msg_type_filters.sort();
                msg_type_filters.forEach((msgType)=>{
                    $("#msg_type_filter").append('<option value="'+msgType+'">'+msgType+'</option>');
                });
            });
        });

        socket.on("disconnect", () => {
            console.log('SIO id '+socket.id+' disconnected'); // undefined
        });

    });

</script>

<%- include('partial/footer.html'); %>