<%- include('partial/header.html', { extraLinks: [ '<a href="#" id="helpLink">?</a>' ] }); %>

<h1 id="robot_name">Waiting for Connection...</h1>
<div id="robot_info">Contacting <%= id_robot %>...</div>
<br>
<div id="robot_stats" style="display:none">

</div>

<div id="menubar">

    <div id="topic_controls">
        <h3 id="topics_heading">Topics</h3>
        <select id="msg_type_filter">
            <option value="">-- All message types --</option>
        </select>
        <div id="topic_list"></div>
    </div>

    <div id="service_controls">
        <h3 id="services_heading">Services</h3>
        <a href="#" id="services_gamepad_mapping_toggle">[shortcuts]</a>
        <div id="service_list"></div>
    </div>

    <div id="camera_controls">
        <h3 id="cameras_heading">Cameras</h3>
        <div id="cameras_list"></div>
    </div>
</div>

<div class="grid-stack" id="grid-stack"></div>

<div id="monitors" style="display:none"></div>

<div id="gamepad">
    <div id="gamepad_status" title="Gamepad Settings"></div>
    <div id="gamepad_settings">
        <input type="checkbox" id="gamepad_enabled" checked="checked"/> <label for="gamepad_enabled">Transmitting</label>
        <div id="gamepad_debug"></div>
    </div>
</div>

<div id="mapping-confirmation"></div>
<div id="msg_type-dialog"></div>

<script type="text/javascript">

    let id_robot = '<%= id_robot %>';

    $(document ).ready(function() {

        let GridStack = window.exports.GridStack;

        grid = GridStack.init({
            cellHeight: 119,
        });

        // let items = [
        //     {x: 0, y: 0, w: 4, h: 2, content: '1 1 1 1 <br> 1 1 1 <br>'},
        //     {x: 4, y: 0, w: 4, h: 4, content: '2'},
        //     {x: 8, y: 0, w: 2, h: 2, content: '<p class="card-text text-center" style="margin-bottom: 0">Drag me!<p class="card-text text-center"style="margin-bottom: 0"><ion-icon name="hand" style="font-size: 300%"></ion-icon><p class="card-text text-center" style="margin-bottom: 0">'},
        //     {x: 10, y: 0, w: 2, h: 2, content: '4'},
        //     {x: 0, y: 2, w: 2, h: 2, content: '5'},
        //     {x: 2, y: 2, w: 2, h: 4, content: '6'},
        //     {x: 8, y: 2, w: 4, h: 2, content: '7'},
        //     {x: 0, y: 4, w: 2, h: 2, content: '8'},
        //     {x: 4, y: 4, w: 4, h: 2, content: '9'},
        //     {x: 8, y: 4, w: 2, h: 2, content: '10'},
        //     {x: 10, y: 4, w: 2, h: 2, content: '11'},
        // ];
        // grid.load(items);

        grid.on('added removed change', function(e, items) {

            if (items) {
                let str = '';
                items.forEach(function(item) { str += ' (x,y)=' + item.x + ',' + item.y; });
                //console.warn('Grid: '+ e.type + ' ' + items.length + ' items:' + str );
            }

            UpdateUrlHash();
        });

        grid.on('resize', function(e, el) {
            let id_source = $(el).find('.grid_panel').attr('data-source');
            panels[id_source].onResize();
        });


        let msg_types_src = '/static/msg_types.json'
        fetch(msg_types_src)
            .then((response) => response.json())
            .then((json) => {
                supported_msg_types=json;
                console.log('Fetched '+json.length+' msg types from '+msg_types_src)

                let hash = window.location.hash;
                if (hash.length) {
                    hash = hash.substr(1);
                    let hashArr = hash.split(';');
                    for (let i = 0; i < hashArr.length; i++) {
                        let src_vars = hashArr[i].trim();
                        if (!src_vars)
                            continue;
                        src_vars = src_vars.split(':');
                        let id_source = src_vars[0];
                        let x = null; let y = null;
                        let panelPos = src_vars[1];
                        if (panelPos) {
                            panelPos = panelPos.split('x');
                            x = panelPos[0];
                            y = panelPos[1];
                        }
                        let panelSize = src_vars[2];
                        let w = 2; let h = 2;
                        if (panelSize) {
                            panelSize = panelSize.split('x');
                            w = panelSize[0];
                            h = panelSize[1];
                        }
                        let src_on = false;
                        for (let j = 2; j < src_vars.length; j++) {
                            if (src_vars[j] == 'src') {
                                src_on = true;
                            }
                        }

                        let msg_type = null; //unknown atm
                        //console.info('Opening panel for '+topic+'; src_on='+src_on);
                        Panel.TogglePanel(id_source, msg_type, true, w, h, x, y, src_on)
                    }
                }

                window.gamepadController = new GamepadController(pc, '/joy', id_robot, socket, supported_msg_types);

                //proceed when we have msg types ready
                socket.connect();
            });

        pc = InitPeerConnection(id_robot);

        // Dumping a stats variable as a string.
        // might be named toString?
        function dumpStats(results) {
            let statsString = '';
            results.forEach(res => {
                if (res.type != 'inbound-rtp' || !res.trackIdentifier)
                    return; //continue

                Object.keys(topic_video_tracks).forEach(topic => {
                    let topic_video_track = topic_video_tracks[topic];
                    //console.log({topic_video_track
                    if (res.trackIdentifier == topic_video_track.id) {

                        let panel = panels[topic];
                        if (!panel)
                            return;

                        let statsString = ''
                        statsString += `${res.timestamp}<br>`;
                        let fps = 0;
                        Object.keys(res).forEach(k => {
                            if (k == 'framesPerSecond') {
                                fps = res[k];
                            }
                            if (k !== 'timestamp' && k !== 'type' && k !== 'id') {
                                if (typeof res[k] === 'object') {
                                    statsString += `${k}: ${JSON.stringify(res[k])}<br>`;
                                } else {
                                    statsString += `${k}: ${res[k]}<br>`;
                                }
                            }
                        });
                        $('#video_stats_'+panel.n).html(statsString);
                        $('#video_fps_'+panel.n).html(fps+' FPS');
                        //console.log('res '+topic+' ' + res.type, res)

                    }
                });
            });
            return statsString;
        }

        function showLocalStats(results) {
            const statsString = dumpStats(results);
            //console.log(statsString)
            //senderStatsDiv.innerHTML = `<h2>Sender stats</h2>${statsString}`;
        }

        setInterval(() => {
            if (pc) {
                pc.getStats(null).then(showLocalStats, err => console.log(err))
            }
        }, 1000);

        $('#msg_type_filter').change(()=>{
        let filter = $('#msg_type_filter').val();
        //console.log('msg_type_filter='+filter);

        let num_visible = 0;
        $('#topic_list DIV.topic').each(function() {
            console.log();
            if (filter == '' || $(this).data('msg_types').indexOf(filter) != -1) {
                $(this).css('display', 'block');
                num_visible++;
            }
            else {
                $(this).css('display', 'none');
            }
        });

        if (!num_visible)
            $('#topic_list_waiting').css('display', 'block').html('Waiting...');
        else
            $('#topic_list_waiting').css('display', 'none').empty();
        });

        // $('#topic_list INPUT:checkbox').change(()=>{
        //     let filter = $(this).val();
        //     //console.log('msg_type_filter='+filter);
        // })





        // client-side
        socket.on("connect", () => {
            console.log('SIO connected w id'+socket.id); // x8WIv7-mJelg7on_ALbx
            SetSocketIOSatusLabel();
            socket.emit('robot', { id: '<%= id_robot %>' },
                ProcessRobotData
            );
        });

        socket.on('robot', ProcessRobotData);

        socket.on('services', (services_data) => {
            $('#service_list').empty();
            //$('#service_list').css('display', 'block');

            console.log('Services:', services_data);

            services = {};

            if (Object.keys(services_data).length > 0) {
                $('#service_controls').addClass('active');
            } else {
                $('#service_controls').removeClass('active');
            }

            let i = 0;
            Object.keys(services_data).forEach((id_robot) => {

                if (!services_data[id_robot])
                    return;

                let handled_services = [];
                let other_services = [];
                for (let i = 0; i < services_data[id_robot].length; i++) {
                    if (input_widgets[services_data[id_robot][i].msgType] != undefined)
                        handled_services.push(services_data[id_robot][i]);
                    else
                        other_services.push(services_data[id_robot][i]);
                }

                [ handled_services, other_services ].forEach((services_list)=>{

                    let handled = services_list == handled_services;

                    services_list.sort((a, b) => {
                        if (a.service < b.service) {
                            return -1;
                        }
                        if (a.service > b.service) {
                            return 1;
                        }
                        return 0;
                    });

                    services_list.forEach((service)=>{

                        services[service.service] = {
                            service: service.service,
                            msg_type: service.msgType,
                            n: i
                        }

                        $('#service_list').append('<div class="service '+(handled?'handled':'nonhandled')+'" data-service="'+service.service+'" data-msg_type="'+service.msgType+'">'
                            + '<div '
                            + 'class="service_heading" '
                            + 'title="'+service.service+'\n'+service.msgType+'"'
                            + '>'
                            + service.service
                            + '</div>'
                            + '<div class="service_input_type" id="service_input_type'+i+'">' + service.msgType + '</div>'
                            + '<div class="service_input" id="service_input_'+i+'"></div>'
                            + '</div>'
                        );

                        if (input_widgets[service.msgType] != undefined) {
                            input_widgets[service.msgType]($('#service_input_'+i), services[service.service], '<%= id_robot %>', socket, supported_msg_types);
                        }

                        i++;

                    });


                });

                MarkMappedServiceButtons();

                $('#services_heading').html(services_data[id_robot].length+' Services');
            });
        });

        socket.on('cameras', (cameras_data) => {
            $('#cameras_list').empty();
            //$('#service_list').css('display', 'block');

            console.log('Cameras:', cameras_data);

            cameras = {};

            let subscribe_cameras = [];

            if (Object.keys(cameras_data).length > 0) {
                $('#camera_controls').addClass('active');
            } else {
                $('#camera_controls').removeClass('active');
            }

            let i = 0;
            Object.keys(cameras_data).forEach((id_robot) => {

                if (!cameras_data[id_robot])
                    return;

                cameras_data[id_robot].forEach((camera_data)=>{

                    if (!cameras[camera_data.id]) {
                        cameras[camera_data.id] = {
                            info: camera_data.info,
                            subscribed: false
                        }
                    }

                    $('#cameras_list').append('<div class="camera" data-camera="'+camera_data.id+'">'
                        + '<input type="checkbox" id="cb_camera_'+i+'"'
                        //+ (!topic.robotTubscribed?' disabled':'')
                        + (panels[camera_data.id] ? ' checked': '' )
                        + '/> '
                        + '<span '
                        + 'class="camera" '
                        + '>'
                        + '<label for="cb_camera_'+i+'" class="prevent-select">'+camera_data.id+'</label>'
                        + '</span>'
                        + '</div>'
                    );

                    let subscribe = $('#cb_camera_'+i).is(':checked');

                    if (panels[camera_data.id]) {
                        panels[camera_data.id].init('video');
                        subscribe = true;
                    }

                    //if (!old_topics[topic.topic]) {

                    if (subscribe) {
                        //console.warn('New topic: '+topic.topic+'; subscribe='+subscribe);
                        subscribe_cameras.push(camera_data.id);
                    } else {
                        //console.info('New topic: '+topic.topic+'; subscribe='+subscribe);
                    }

                    //TogglePanel(topic.topic, true);
                    //}

                    i++;
                });

                $('#cameras_heading').html(cameras_data[id_robot].length+' '+(cameras_data[id_robot].length == 1 ? 'Camera' : 'Cameras'));

                $('#cameras_list INPUT:checkbox').change(function(event) {
                    let camera = $(this).parent('DIV.camera').data('camera');
                    let state = this.checked;
                    let w = 4; let h = 4;

                    if (panel_widgets['video']) {
                        w = panel_widgets['video'].w;
                        h = panel_widgets['video'].h;
                    }

                    Panel.TogglePanel(camera, 'video', state, w, h, null, null, false, true);
                    // SetTopicsReadSubscription('<%= id_robot %>', [ topic ], state);
                });
            });
        });


        socket.on('topics', (topics_data) => {
            $('#topic_list').empty();

            $('#robot_stats').css('display', 'block');
            //$('#topic_list').css('display', 'block');
            $('#monitors').css('display', 'block');

            let msg_type_filter_val = $('#msg_type_filter').val();
            $("#msg_type_filter option[value!='']").each(function() {
                $(this).remove();
            });

            console.log('Topics:', topics_data);

            let msg_type_filters = [];
            //let old_topics = topics;
            //topics = {};
            let subscribe_topics = [];

            if (Object.keys(topics_data).length > 0) {
                $('#topic_controls').addClass('active');
            } else {
                $('#topic_controls').removeClass('active');
            }

            let i = 0;
            Object.keys(topics_data).forEach((id_robot) => {

                if (!topics_data[id_robot])
                    return;

                //sort by topic
                topics_data[id_robot].sort((a, b) => {
                    if (a.topic < b.topic) {
                        return -1;
                    }
                    if (a.topic > b.topic) {
                        return 1;
                    }
                    // a must be equal to b
                    return 0;
                });

                $('#topics_heading').html(topics_data[id_robot].length+' Topics');

                topics_data[id_robot].forEach((topic_data)=>{

                    if (!topics[topic_data.topic]) {
                        topics[topic_data.topic] = {
                            msg_types: topic_data.msgTypes,
                            subscribed: false
                        }
                    }

                    let is_video = topic_data.msgTypes.indexOf('sensor_msgs/msg/Image') !== -1 ? true : false;
                    let msg_type_supported = FindMessageType(topic_data.msgTypes[0], supported_msg_types)

                    $('#topic_list').append('<div class="topic" data-topic="'+topic_data.topic+'" data-msg_types="'+topic_data.msgTypes.join(',')+'">'
                        + '<input type="checkbox" class="enabled" id="cb_topic_'+i+'"'
                        //+ (!topic.robotTubscribed?' disabled':'')
                        + (panels[topic_data.topic] ? ' checked': '' )
                        + '/> '
                        + '<span '
                        + 'class="topic'+(is_video?' image':'')+(!msg_type_supported?' unsupported_message_type':'')+'" '
                        + 'title="'+(!msg_type_supported?'Unsupported type: ':'')+topic_data.msgTypes.join('; ')+'"'
                        + '>'
                        + '<label for="cb_topic_'+i+'" class="prevent-select">'+topic_data.topic+'</label>'
                        + '</span>'
                        + '</div>'
                    );

                    topic_data.msgTypes.forEach((msgType)=>{
                        if (msg_type_filters.indexOf(msgType) == -1)
                            msg_type_filters.push(msgType);
                    });

                    let subscribe = $('#cb_topic_'+i).is(':checked');

                    if (panels[topic_data.topic]) {
                        panels[topic_data.topic].init(topic_data.msgTypes[0]); //init w message type
                        subscribe = true;
                    }

                    //if (!old_topics[topic.topic]) {

                    if (subscribe) {
                        //console.warn('New topic: '+topic.topic+'; subscribe='+subscribe);
                        subscribe_topics.push(topic_data.topic);
                    } else {
                        //console.info('New topic: '+topic.topic+'; subscribe='+subscribe);
                    }

                    //TogglePanel(topic.topic, true);
                    //}

                    i++;
                });
            });

            if (subscribe_topics.length)
                SetTopicsReadSubscription(id_robot, subscribe_topics, true);

            $('#topic_list').append('<div id="topic_list_waiting" style="display:none"></div>');

            $('#topic_list INPUT.enabled:checkbox').change(function(event) {
                let topic = $(this).parent('DIV.topic').data('topic');
                let state = this.checked;

                let w = 2; let h = 2;
                if (panel_widgets[topics[topic].msg_types]) {
                    w = panel_widgets[topics[topic].msg_types].w;
                    h = panel_widgets[topics[topic].msg_types].h;
                }

                Panel.TogglePanel(topic, topics[topic].msg_types, state, w, h);
                SetTopicsReadSubscription(id_robot, [ topic ], state);
            });


        });


        $('#services_gamepad_mapping_toggle').click(function(event) {

            if (!$('#service_controls').hasClass('setting_shortcuts')) {
                $('#service_controls').addClass('setting_shortcuts');
                $('#services_gamepad_mapping_toggle').html('Press a button to map...');
            } else {
                $('#service_controls').removeClass('setting_shortcuts');
                $('#services_gamepad_mapping_toggle').html('[shortcuts]');
            }

            event.preventDefault();
        });

        // socket.on('offer', (offer_data) => {
        //     console.log('Got webrtc offer:', offer_data)
        //     let id_robot = Object.keys(offer_data)[0];
        //     OnWebRTCOffer(id_robot, offer_data[id_robot]);
        // });

        socket.on("disconnect", () => {
            console.log('SIO disconnected'); // undefined
            SetSocketIOSatusLabel();
        });


    });



</script>



<%- include('partial/footer.html'); %>