<div id="gamepad">
    <div id="gamepad_status" title="Gamepad Settings"></div>

    <div id="gamepad_settings">
        <h3>Gamepad Controls <span id="gamepad_id"></span></h3>
        <div class="cleaner"></div>
        <input type="checkbox" id="gamepad_enabled"/> <label for="gamepad_enabled" class="prevent-select">Enabled and generating </label>
        <select id="gamepad_driver"></select>
        <span id="gamepad_debug_output_label"></span>

        <div id="gamepad_settings_controls">
            <button id="gamepad_config_toggle">Driver config</button>
            <button id="gamepad_shortcuts_toggle">Shortcuts</button>
        </div>
        <div id="gamepad_debug">
            <div class="col" id="gamepad_debug_input">
                <b>Input:</b><br>
                <div class="p">Waiting for gamepad...</div>
            </div>
            <div class="col" id="gamepad_config">
                <b>Driver Config:</b><br>
                <textarea id="gamepad_config_input" spellcheck="false"></textarea>
                <div id="gamepad_config_controls">
                    <button id="gamepad_config_cancel">Close</button>
                    <button id="gamepad_config_default">Reset</button>
                    <button id="gamepad_config_apply">Apply</button>
                    <button id="gamepad_config_save">Save</button>
                </div>
            </div>
            <div class="col" id="gamepad_shortcuts">
                <b>Shortcuts Config:</b> <span class="comment">(always on when gamepan connected)</span><br>
                <textarea id="gamepad_shortcuts_input" spellcheck="false"></textarea>
                <div id="gamepad_shortcuts_controls">
                    <button id="gamepad_shortcuts_listen">Listen</button>
                    <button id="gamepad_shortcuts_cancel">Close</button>
                    <button id="gamepad_shortcuts_default">Reset</button>
                    <button id="gamepad_shortcuts_apply">Apply</button>
                    <button id="gamepad_shortcuts_save">Save</button>
                </div>
            </div>
            <div class="col" id="gamepad_debug_output">
                <b>Output:</b><br>
                <div class="p">{}</div>
            </div>
        </div>
    </div>
</div>