<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= typeof title != 'undefined' ? title+'' : 'PHNTM WebUI' %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript">
        var exports = {};
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/static/favicons/favicon-yellow-16x16.png">
    <link rel="stylesheet" href="/static/normalize.css"/>
    <link rel="stylesheet" href="/static/styles.css"/>

    <!-- <script type="importmap" src="/static/urdf-loader/URDFLoader.js.map"></script> -->
    <script type="importmap">
        {
          "imports": {
            "three": "/static/three/three.module.js",
            "orbit-controls" : "/static/three/examaples/jsm/controls/OrbitControls.js",
            "three/examples/" : "/static/three/examaples/",
            "urdf-loader" : "/static/urdf-loader/URDFLoader.js",
            "css-2d-renderer" : "/static/three/examaples/jsm/renderers/CSS2DRenderer.js"
          }
        }
    </script>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->

    <script src="/static/jquery-3.7.0.min.js"></script>
    <!-- <script src="/static/three.min.js"></script> -->

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <script src="/static/socket.io/socket.io.min.js"></script>

    <script src="/static/linkify.min.js"></script>
    <script src="/static/linkify-string.min.js"></script>
    <script src="/static/linkify-html.min.js"></script>
    <script src="/static/rosmsg2-serialization.browserify.js"></script>
    <script src="/static/xml-formatter-singleton.js"></script>

    <script src="/static/d3.v4.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="/static/gridstack/gridstack.min.css"/>
    <script src="/static/gridstack-forked/gridstack-all.js"></script>

    <%- analytics_code %>

</head>
