<div id="gamepad">
	<div id="input-status-icon" title="Input Settings">
		<span id="input-unsaved-warn" title="Unsaved changes">*</span>
		<span id="input-locked-warn" title="Input locked by other peer"></span>
	</div>

	<div id="gamepad_settings">
		<div class="touch-zone" id="gamepad-touch-left-zone"></div>

		<div id="input-manager-overlay"></div>

		<div id="gamepad-settings-container">
			<select id="input-profile-select" class="loading" autocomplete="false">
				<option disabled selected>Loading...</option>
			</select>
			<div id="profile-buttons">
				<span class="icon"></span>
				<span id="profile-unsaved-warn" title="Unsaved changes">*</span>
				<div id="profile-menu">
					<span class="arrow"></span>
					<button id="save-input-profile" class="save_btn saved">
						Save Profile
					</button>
					<!-- <button id="save-all-input-profiles" class="save_btn saved">Save All</button> -->
					<button id="edit-input-profile">Edit Profile</button>
					<!-- <button id="duplicate-input-profile">Duplicate Profile</button> -->
					<button id="input-profile-json">Copy Profile as JSON</button>
					<button id="full-input-json">Copy All as JSON</button>
					<button id="delete-input-profile">
						Delete Profile<span class="icon"></span>
					</button>
				</div>
			</div>
			<div id="profile-edit-panel">
				<div class="row">
					<span class="label">Label: </span>
					<input
						type="text"
						autocomplete="false"
						id="input-profile-edit-label"
					/>
				</div>
				<div class="row">
					<span class="label">Profile ID: </span>
					<input type="text" autocomplete="false" id="input-profile-edit-id" />
				</div>
			</div>

			<div id="input-controller-selection"></div>

			<div id="input-controller-config">
				<input
					type="checkbox"
					title="Controller enabled"
					autocomplete="false"
					id="controller-enabled-cb"
				/>

				<span id="gamepad-axes-tab" class="tab active">Axes</span>
				<span id="gamepad-buttons-tab" class="tab">Buttons</span>
				<span id="gamepad-output-tab" class="tab">Output</span>
				<span id="gamepad-settings-tab" class="tab"></span>
				<div id="gamepad-axes-panel" class="panel active"></div>

				<div id="gamepad-buttons-panel" class="panel"></div>

				<div id="gamepad-output-panel" class="panel"></div>

				<div id="gamepad-settings-panel" class="panel"></div>
			</div>
		</div>

		<div class="touch-zone" id="gamepad-touch-right-zone"></div>
	</div>
</div>
