<div id="gamepad">
    <div id="input-status-icon" title="Input Settings"></div>

    <div id="gamepad_settings">

        <div class="touch-zone" id="gamepad-touch-left-zone"></div>

        <div id="input-manager-overlay"></div>

        <div id="gamepad-settings-container">

            <select id="input-profile-select" autocomplete="false"></select>
            <div id="profile-buttons">
                <span class="icon"></span>
                <span id="profile-unsaved-warn">*</span>
                <div id="profile-menu">
                    <span class="arrow"></span>
                    <button id="save-input-profile" class="saved">Save Profile</button>
                    <button id="edit-input-profile">Edit profile</button>
                    <button id="input-profile-json">Copy JSON</button>
                    <button id="delete-input-profile">Delete profile</button>
                </div>
            </div>
            <div id="profile-edit-panel">
                <div class="row">
                    <span class="label">Label: </span>
                    <input type="text" autocomplete="false" id="input-profile-edit-label"/>
                </div>
                <div class="row">
                    <span class="label">Profile ID: </span>
                    <input type="text" autocomplete="false" id="input-profile-edit-id"/>
                </div>
            </div>
            
            <div id="input-controller-selection"></div>

            <div id="input-controller-config">
                <input type="checkbox" autocomplete="false" id="controller-enabled-cb"/>

                <span id="gamepad-axes-tab" class="tab active">Axes</span>
                <span id="gamepad-buttons-tab" class="tab">Buttons</span>
                <span id="gamepad-output-tab" class="tab">Output</span>
                <span id="gamepad-settings-tab" class="tab"></span>
                <div id="gamepad-axes-panel" class="panel active"></div>

                <div id="gamepad-buttons-panel" class="panel"></div>

                <div id="gamepad-output-panel" class="panel"></div>

                <div id="gamepad-settings-panel" class="panel">
                    <div id="gamepad-profile-config"></div>
                   
                </div>
            </div>

        </div>

        <div  class="touch-zone" id="gamepad-touch-right-zone"></div>

        <!-- <h3>Gamepad Controls <span id="gamepad_id"></span></h3>
        <div class="cleaner"></div>
        

       
        <span id="gamepad_debug_output_label"></span>

        <div id="gamepad_settings_controls">
            <button id="gamepad_config_toggle">Driver config</button>
            <button id="gamepad_shortcuts_toggle">Shortcuts</button>
        </div>
        <div id="gamepad_debug">
            <div class="col" id="gamepad_debug_input">
                <b>Input:</b><br>
                <div class="p">Waiting for gamepad...</div>
            </div>
            <div class="col" id="gamepad_config">
                <b>Driver Config:</b><br>
                <textarea id="gamepad_config_input" spellcheck="false"></textarea>
                <div id="gamepad_config_controls">
                    <button id="gamepad_config_cancel">Close</button>
                    <button id="gamepad_config_default">Reset</button>
                    <button id="gamepad_config_apply">Apply</button>
                    <button id="gamepad_config_save">Save</button>
                </div>
            </div>
            <div class="col" id="gamepad_shortcuts">
                <b>Shortcuts Config:</b> <span class="comment">(always on when gamepan connected)</span><br>
                <textarea id="gamepad_shortcuts_input" spellcheck="false"></textarea>
                <div id="gamepad_shortcuts_controls">
                    <button id="gamepad_shortcuts_listen">Listen</button>
                    <button id="gamepad_shortcuts_cancel">Close</button>
                    <button id="gamepad_shortcuts_default">Reset</button>
                    <button id="gamepad_shortcuts_apply">Apply</button>
                    <button id="gamepad_shortcuts_save">Save</button>
                </div>
            </div>
            <div class="col" id="gamepad_debug_output">
                <b>Output:</b><br>
                <div class="p">{}</div>
            </div>
        </div> -->

    </div>
</div>