<div id="keyboard">
    <div id="keyboard_status" title="Keyboard Settings"></div>

    <div id="keyboard_settings">
        <h3>Keyboard Controls</h3>
        <div class="cleaner"></div>
        <input type="checkbox" id="keyboard_enabled"/> <label for="keyboard_enabled" class="prevent-select">Enabled and generating </label>
        <select id="keyboard_driver"></select>

        <div id="keyboard_settings_controls">
            <button id="kb_shortcuts_toggle">Key mapping</button>
            <button id="kb_config_toggle">Config</button>
        </div>

        <div id="keyboard_debug">
            <div class="col" id="keyboard_debug_input">
                <b>Input:</b><br>
                <div class="p">Initializing...</div>
            </div>
            <div class="col" id="keyboard_config">
                <b>Driver Config:</b><br>
                <textarea id="kb_config_input" spellcheck="false"></textarea>
                <div id="keyboard_config_controls">
                    <button id="gamepad_config_cancel">Close</button>
                    <button id="gamepad_config_default">Reset</button>
                    <button id="gamepad_config_apply">Apply</button>
                    <button id="gamepad_config_save">SAVE</button>
                </div>
            </div>
            <div class="col" id="keyboard_shortcuts">
                <b>Shortcuts Config:</b><br>
                <textarea id="kb_shortcuts_input" spellcheck="false"></textarea>
                <div id="keyboard_shortcuts_controls">
                    <button id="gamepad_shortcuts_listen">Listen</button>
                    <button id="gamepad_shortcuts_cancel">Close</button>
                    <button id="gamepad_shortcuts_default">Reset</button>
                    <button id="gamepad_shortcuts_apply">Apply</button>
                    <button id="gamepad_shortcuts_save">SAVE</button>
                </div>
            </div>
            <div class="col" id="keyboard_debug_output">
                <b>Output:</b><br>
                <div class="p">Waiting for data...</div>
            </div>
        </div>
    </div>
</div>