body {
    background-color: white;
    color: black;
    margin: 20px;
  }

.msgTypes {
    color: gray
}

.offline {
    color: red
}

.online {
    color: green
}

h1 {
margin: 0px;
}

h3 {
    margin: 0px;
    padding: 0px;
    display: inline;
}

#msg_type_filter{
width: 300px;
text-align: right;
float: right;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

#sidebar {
    width: 420px;
    float: left;
}

#topic_controls {
    margin-top: 0px;
    background: #deeeff;
    padding: 10px;
    border-radius: 5px;
}

#topic_list {
    overflow-x: hidden;
    width: 100%;
    margin-top: 20px;
}

#service_controls {
    margin-top: 20px;
    overflow-x: hidden;
    background: #b8b8b8;
    padding: 0px 5px;
    border-radius: 5px;
}

.service {
    margin-top: 5px;
    margin-bottom: 5px;
    background: #b311a3;
    padding: 10px;
    border-radius: 5px;
}

.service_heading {
    font-weight: bold;
}

.service_input {
    color: white;
    font-size: 12px;
}

.service_button {
    background: #0051ff;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 5px 5px 0px 0px;
}
.service_button:hover {
    background: #006dff;
}
.service_button.true {
    background: #008700;
}
.service_button.true:hover {
    background: #00a100;
}
.service_button.false {
    background: #a20101;
}
.service_button.false:hover {
    background: #c20000;
}

#robot_stats {
width: 440px;
}

#monitors {
    margin-top: 20px;
    margin-left: 450px;
}

#topic_list A.topic {

}

.monitor_panel {
    background: #98bd61;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    float: right;
    width: -webkit-fill-available;
}

.monitor_panel  .msg_types {
    position: absolute;
    right: 30px;
    z-index: 1;
    color: #3d3d3d;
    margin-top: 3px;
    font-size: 13px;
    text-decoration: none;
}

.monitor_panel  .msg_types:hover {
    text-decoration: underline;
}

.monitor_panel h3 {
    background: #98bd61;
    z-index: 2;
    position: relative;
    padding-right: 10px;
}

#topic_list .topic {
    color: rgb(0, 89, 255);
}

#topic_list .topic:hover {
    color: rgb(255, 0, 212);
}

#topic_list .topic label{
    cursor: pointer;
}

.monitor_panel .panel_content {
    min-height: 1em;
    margin-top: 10px;
    padding: 12px;
    word-wrap: break-word;
    white-space: pre;
    font-size: 12px;
    font-family: monospace;
    background: #073831;
    color: #fff;
    border-radius: 5px;
    overflow: scroll;
    display: none;
}

.monitor_panel .panel_content.enabled {
    display: block;
}

.monitor_panel .panel_content A {
    color: #fff;
}

.monitor_panel .panel_content A:hover {
    color: #30f104;
}

.monitor_panel .panel_update {
    position: absolute;
    right: 10px;
    margin-top: 4px;
}

.panel_msg_type {
    background: #060606;
    margin-top: 10px;
    font-size: 12px;
    font-family: monospace;
    white-space: pre;
    padding: 10px;
    color: #00fff9;
    border-radius: 5px;
    display: none;
}

.panel_msg_type.err {
    background: rgb(215 3 35);
    font-weight: bold;
    display: block !important;
}

.display_panel_source_label {
    display: none;
    font-size: 13px;
    color: #3d3d3d;
    position: relative;
    top: -2px;
}

.display_panel_source_label INPUT {
    margin-right: 4px;
    top: 2px;
    position: relative;
}

.display_panel_source_label.enabled {
    display: inline;
}


.panel_widget {
    background: white;
    min-height: 40px;
    clear: right;
    margin-top: 9px;
    border-radius: 5px;
    display: none;
    overflow: hidden;
}

.panel_widget.content_enabled {
    width: 50%;
    float: right;
    margin-top: 30px;
    margin-left: 5px;
}

.panel_widget.laser_scan {
    background-color: #072038;
}

.panel_widget.log {
    background: black;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    max-height: 200px;
    overflow: scroll;
}

.panel_widget.log .log_line {
    padding: 1px 0px;
}

.panel_widget.log .log_line:hover {
    background: rgb(49, 49, 49);
}

.panel_widget.enabled {
    display: block;
}

.panel_widget canvas {
    border-radius: 5px;
}

.cleaner {
    clear: both;
    position: relative;
    display: block;
    height: 0px;
}




#gamepad {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}

#gamepad.connected {

}

#gamepad_status {
    width: 50px;
    height: 50px;
    background: url(/static/gamepad.png);
    background-size: 100px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 0px 3px;
    filter: grayscale(1) opacity(.2);
}

#gamepad.connected #gamepad_status {
    filter: grayscale(0);
}

#gamepad.connected #gamepad_status.active {
    background-position: -50px 3px;
}

#gamepad #gamepad_settings {
    position: absolute;
    background: #5d53b0e3;
    width: 270px;
    right: -10px;
    font-size: 12px;
    color: white;
    font-weight: normal;
    padding: 10px;
    border-radius: 5px;
    top: 45px;
    display: none;
    z-index: 2;
}

#gamepad #gamepad_debug {
    white-space: pre;
    background: #001649;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
}

#gamepad.connected.debug_on #gamepad_settings {
   display: block;
}